<ng-container *ngIf="liveStarted[liveid]">
  <ion-header no-padding>
    <ion-navbar no-padding>
      <ion-title no-padding> {{(liveStarted[liveid].teams.home.tr)}} -- {{state.NP.data?.liveid}}</ion-title>
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="list"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>



  <ion-content no-padding>
    <div class="row">

      <ng-container *ngFor="let market of liveStarted[liveid]?.markets|getLiveData:'market:filter' let id = index">

        <div *ngIf="market?.active" class="accordion-list pre-detail col-md-3">
          <div>
            <div no-padding>
              <button ion-item detail-none [style.background]="state.CCT[market.id] ? '#dba500' : '#222'" (click)="toggleAccordion(id);"
                class="accordion-header" [class.active]="expanded[id]">
                <span item-right>{{un.size(market.odds)}}</span>
                <ion-icon item-right name="ios-arrow-forward">
                </ion-icon>
                {{market?.typeid | langsFilter:3:'live':market?.subtype}} - {{market?.active}}
              </button>
            </div>
            <section *ngIf="expanded[id]" [style.background]="''" [class.active]="expanded[id]" class="accordion-content" style="padding:5px;">

              <ng-container>
                <div class="odds-list row market-active-{{market?.active}}">
                  <ng-container *ngFor="let odd of market?.odds">
                    <div *ngIf="odd?.value !== ''" class="odd-item" [class.col-4]="un.size(market?.odds) == 3" [class.col-4]="market?.odds.length == 3"
                      [class.col-6]="market?.odds.length != 3">
                      <div role="button" (click)="ACP?.bakBanaCoupon(liveStarted[liveid], market?.id, odd, 1)" class="live odds-up font-12">
                        <div class="">
                          <span class="odd-title selection" [class.active]="state.CCT[market.id]?.odd.type == odd.type">
                            {{odd['typeid'] | langsFilter:4:'live'}} - {{odd?.action}}
                          </span>
                          <div class="odds-value">
                            <span class="{{updated[market.id + odd.typeid] ? odd?.action : ''}}">
                              {{odd.value}}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-container>

            </section>
          </div>
        </div>
      </ng-container>
    </div>
  </ion-content>
</ng-container>
