bottom-bar {
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: 9999999999999;
    color: white;
    .fab-button {
        right: 20px !important;
        .fab {
            overflow: visible !important;
            .fab-badge {
                position: absolute;
                top: 0;
                left: 0;
                padding: 3px 6px;
                font-size: 1.1rem;
                background-color: #FF5722;
                border-radius: 50%;
            }
        }
    }
}
