<ion-fab right bottom class="fab-button">
  <button ion-fab color="light" (click)="openModal()">
    <ion-icon name="arrow-dropup"></ion-icon>
    <ion-badge class="fab-badge">{{count}}</ion-badge>
  </button>
</ion-fab>


