page-coupons {
    .coupon-title {
        padding: 4px;
        min-height: 40px !important;
    }
    .row.market-item {
        border-bottom: 1px solid rgb(224, 140, 13);
        h6 {
            font-size: 1.2rem;
            margin-top: 5px !important;
            margin-bottom: 0 !important;
        }
        ion-note.odd-title-label.note.note-md {
            font-size: 1.2rem;
            color: orange;
        }
        .odd-label {
            font-size: 1.2rem;
            color: orange;
        }
        .match-date {
            font-size: 1.2rem;
            color: #9E9E9E;
            font-weight: 600;
            margin: 5px;
        }
        h6.odd-title {
            font-size: 1.2rem;
        }
        h6.odd-value {
            font-size: 13px;
        }
        .price-input .text-input {
            margin: 5px;
            padding: 8px;
            width: calc(100% - 8px - 8px);
            border: 1px solid grey;
            border-radius: 5px;
        }
        button.remove-button {
            position: absolute;
            right: 0;
            top: 0;
            margin-right: 5px;
        }
    }
    .segment .segment-button {
        color: white;
    }
    .segment .segment-button.activated,
    .segment .segment-button.segment-activated {
        border-color: #FF9800;
    }
    ion-navbar.toolbar {
        padding: 0;
        min-height: 40px;
    }
    .back-button,
    .bar-button {
        color: #ffffff;
        background-color: transparent;
    }
    .soft-black .toolbar-background {
        border-color: #b2b2b2;
        background: #607D8B;
    }
    &.ion-page.show-page {
      height: auto;
      bottom: 0;
      opacity: 1;
  }

}
