.split-pane-md.split-pane-visible>.split-pane-side {
    min-width: 250px;
    max-width: 20%;
    border-right: 1px solid #dedede;
    border-left: 0;
}

.tepe.logo {
    background: url(./assets/theme/logo.png);
    width: 154px;
    height: 48px;
    position: relative;
    z-index: 1;
    margin: 0;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

ion-title .logo-inc {
    text-align: -webkit-center;
}

title.hide {
    display: none;
}

.no-scroll>.scroll-content {
    overflow-y: hidden;
}

.pl-10 {
    padding-left: 15px;
}

.pt-15 {
    padding-top: 15px;
}

.mt-5 {
   /* margin-top: 5px; */
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-56 {
    margin-top: 56px !important;
}

.list-ios {
    margin: -1px 0 15px;
}

.no-scroll>.scroll-content {
    overflow-y: hidden;
}

.bar-buttons:hover {
    color: #FFC107 !important;
}

.nopointer-0,
.nopointer-0.stopped {
    pointer-events: none;
}

.list-ios .item-block .item-inner {
    border-bottom: 0;
}
.ion-page.show-page {
  height: auto;
  bottom: 56px;
  opacity: 1;
}
