
<div>
    <ion-list>
        <ion-item *ngFor="let ticket of tickets" >
          <ion-avatar item-start>

          </ion-avatar>
          <h2>{{ticket.subject}}</h2>
          <h3>{{ticket.department}} / {{ticket.status}}</h3>
          <p>{{ticket.messages[0]?.message}}</p>
        </ion-item>
      </ion-list>
</div>
