page-sports {
    .segment .segment-button.activated,
    .segment .segment-button.segment-activated {
        border-color: #dba500;
        opacity: 1;
        color: #dba500;
    }
    .segment-button {
        min-width: 150px;
    }
    .item.item-block .item-inner {
        padding-right: 8px;
        border-bottom: none;
    }
    .segment .segment-button {
        font-size: 1.5rem;
        font-weight: 400;
        opacity: 1;
        color: #dba500;
    }
    /* acordion */
    .accordion-list {
        .accordion-content {
            background: rgb(34, 34, 34) !important;
            color: white !important;
            transition: 0.3s ease-in-out;
            &.active {
                padding: 0;
            }
        }
        .accordion-header {
            color: white;
            .item-inner {
                margin-left: 0 !important;
                border-bottom: 0 !important;
            }
            ion-icon {
                transition: all .25s ease-in;
                transform: rotate(0);
            }
            &.active ion-icon {
                transform: rotate(90deg);
            }
        }
        .button-outline {
            color: orange;
            font-weight: 400 !important;
        }
    }
    .market-list {
        span.market-name {
            font-size: 1rem;
            color: orange;
            font-weight: 600;
            padding: 3px;
        }
        span.coupon-chance {
            font-size: 1rem;
            color: #158106;
            font-weight: 600;
            float: right;
            padding: 0px 10px !important;
        }
        .market-title {
            padding: 5px 5px;
            display: block;
            color: rgb(230, 148, 54);
            font-size: 11px;
        }
        .market-item:nth-child(n+4) {
            display: none; // background-color: red;
        }
        .market-active-0 {
            opacity: 0.2;
            pointer-events: none;
        }
    }
    .note-title {
        font-size: 1rem;
        font-weight: 600;
        color: orange;
        padding: 4px;
        padding-left: 0;
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        /* border-bottom: 1px solid  #424242;*/
        white-space: nowrap;
        margin-bottom: 7px;
    }
    .note {
        color: orange !important;
        font-size: 1rem !important;
        font-weight: 600;
    }
    .note-cat {
        padding: 5px;
        /* padding-bottom: 3px; */
        border-bottom: 1px solid #424242;
        display: block;
    }
    .br-1 {
        border-right: 1px solid #343434;
    }
    .match-item {
        position: relative !important;
        border-bottom: 1px solid #f1ebeb;
        padding: 5px !important;
        margin-bottom: 0 !important;
        border-bottom: 1px solid #343434 !important;
        &.bet-status-stopped .odds-list {
            pointer-events: none;
            opacity: 0.2;
        }
        &.bet-active-0 .odds-list {
            pointer-events: none;
            opacity: 0.2;
        }
        &.bet-markets-0 {
            opacity: 0.2;
            pointer-events: none;
            .dismenu {
                display: none;
            }
        }
        h4.team-title {
            font-size: 1.2rem;
            margin-top: 0 !important;
        }
        h4.team-score {
            float: right;
            padding: 0 8px;
            font-size: 1.2rem;
            color: orange;
            font-weight: 500;
        }
        .match-title {
            font-size: 13px;
            color: black;
            font-weight: 700;
            margin: 0;
            padding-left: 10px;
        }
    } //ODD UPDATE
    .odds-list {
        .odd-title.selection,
        {
            background-color: #4a4a4a;
            color: #fff;
            padding: 3px 5px;
            text-align: center;
            line-height: 1.8em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            font-size: 11px;
        }
        .odds-value {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            color: white;
            display: block;
            background-color: #222222;
            border: 1px solid #424242 !important;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 11px;
        }
        .odds-value span {
            text-align: center;
            display: block;
            font-size: 11px;
        }
        .odd-item:nth-child(n+2) {
            //  background-color: red;
        }
        .odd-area.font-12 {
            border: 1px solid grey;
        }
        .odd-title.selection.active {
            background-color: #8bc34a;
        }
        .oup {
            background-color: #8bc34a;
        }
        .odown {
            background-color: #e13838;
        }
    }
    @keyframes play {
        from {
            background-color: transparent;
        }
        to {
            background-color: green;
        }
    }
    @keyframes play2 {
        from {
            background-color: transparent;
        }
        to {
            background-color: green;
        }
    }
    @keyframes play3 {
        from {
            background-color: transparent;
        }
        to {
            background-color: red;
        }
    }
    @keyframes play4 {
        from {
            background-color: transparent;
        }
        to {
            background-color: red;
        }
    }
    .aktif.started {
        background-color: rgb(166, 255, 187);
    }
    .aktif.stopped {
        background-color: rgb(255, 184, 184);
    }
    .nopointer-0,
    .nopointer-0.stopped {
        background-color: rgb(255, 4, 4);
        color: #ffffff;
    }
    @media (min-width: 767px) {
        .match-item>.row {
            position: relative !important;
            margin-right: 60px !important;
        }
        .dismenu {
            position: absolute;
            right: 0;
            align-items: center;
            float: right;
            align-self: center;
            vertical-align: middle;
            padding: 5px;
            top: 33%;
            text-align: center;
        }
    }
    @media (max-width: 767px) {
        .match-details {
            margin-right: 60px;
        }
        .market-list .market-item:nth-child(n+2) {
            display: none;
        }
        .dismenu {
            position: absolute;
            right: 0;
            top: 30px;
            float: right;
            vertical-align: middle;
            padding: 5px;
            text-align: center;
        }
    }
    @media screen and (orientation:portrait) {
        .market-list .market-item:nth-child(n+2) {
            display: none;
        }
        .match-item {
            //display: none !important;
        }
    }
    /* landscape */
    @media screen and (orientation:landscape) {
        /* landscape-specific styles */
    } //HELPERS
    .plus-button {
        justify-content: center;
        align-content: center;
        text-align: center;
        align-items: center;
        margin: auto;
        text-align: center;
        display: block;
    }
    .accordion-list {
        &.pre-detail {
            margin-bottom: 5px;
            &[class*='col-'] {
                padding-right: 8px;
                padding-left: 8px;
            }
            &.row {
                margin-right: -8px;
                margin-left: -8px;
            }
            .odds-list {
                [class*='col-'] {
                    padding-right: 5px;
                    padding-left: 5px;
                    margin-bottom: 5px;
                }
                &.row {
                    margin-right: 0;
                    margin-left: -5px;
                }
            }
        }
        [class*='col-'] {
            padding-right: 8px;
            padding-left: 8px;
        }
        .row {
            margin-right: -8px;
            margin-left: -8px;
        }
        .outline,
        .outline * {
            outline: 1px solid #F6A1A1;
        }
    }
    h4:first-child {
        margin-top: 0 !important;
    }
    .nomargin {
        margin: 0 !important;
    }
    .font-12 {
        font-size: 12px;
    }
}
